run-name: Terraform Workflow Driver
on: 
  pull_request:
    paths:
      - 'terraform/**'
      - '.github/workflows/workflow1.yaml'

permissions:
  pull-requests: write # write permission in order to add comments for terraform output
  id-token: write # write permission is required for az login
      
jobs:
  # run1:
  #   uses: ./.github/workflows/workflow1.yaml
  #   with:
  #     working-dir: "terraform/proj1"
  #     terraform-version: "1.7.3"
  #     environment: development

  # fail-validation:
  #   runs-on: ubuntu-latest
  #   steps:

  #   - uses: actions/checkout@v4
  #   - name: Check
  #     run: |
  #       pwd
  #       ls ./.github/workflows/

  #   - name: Should Fail
  #     uses: ./.github/workflows/workflow1.yaml
  #     with:
  #       working-dir: "terraform/fail-validation"
  #       terraform-version: "1.7.3"
  #       environment: development
  #   - name: Success if Failed
  #     if: failure()
  #     run: exit 0
    
  dev-scenario-plan:
    uses: ./.github/workflows/plan.yaml
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"
      environment: development-ro
  dev-scenario-apply:
    uses: ./.github/workflows/apply.yaml
    needs: [dev-scenario-plan]
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"
      environment: development
  prod-scenario-plan:
    uses: ./.github/workflows/plan.yaml
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"
      environment: production-ro    
  prod-scenario-apply:
    uses: ./.github/workflows/apply.yaml
    needs: [dev-scenario-apply, prod-scenario-plan]
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"
      environment: production
