run-name: Terraform Workflow Driver
name: Terraform Workflow Driver
on: 
  pull_request:
    paths:
      - 'terraform/**'
      - '.github/workflows/*.yaml'

permissions:
  pull-requests: write # write permission in order to add comments for terraform output
  id-token: write # write permission is required for az login
  contents: write
      
jobs:
  # run1:
  #   uses: ./.github/workflows/workflow1.yaml
  #   with:
  #     working-dir: "terraform/proj1"
  #     terraform-version: "1.7.3"
  #     environment: development

  # fail-validation:
  #   runs-on: ubuntu-latest
  #   steps:

  #   - uses: actions/checkout@v4
  #   - name: Check
  #     run: |
  #       pwd
  #       ls ./.github/workflows/

  #   - name: Should Fail
  #     uses: ./.github/workflows/workflow1.yaml
  #     with:
  #       working-dir: "terraform/fail-validation"
  #       terraform-version: "1.7.3"
  #       environment: development
  #   - name: Success if Failed
  #     if: failure()
  #     run: exit 0

  validation:
    uses: ./.github/workflows/terraform-validate.yaml
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"

  dev-scenario-plan:
    needs: [validation]
    uses: ./.github/workflows/terraform-plan.yaml
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"
      environment: development
  dev-scenario-apply:
    uses: ./.github/workflows/terraform-apply.yaml
    needs: [dev-scenario-plan]
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"
      environment: development
  prod-scenario-plan:
    needs: [validation]
    uses: ./.github/workflows/terraform-plan.yaml
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"
      environment: production    

  prod-scenario-apply:
    uses: ./.github/workflows/terraform-apply.yaml
    needs: [dev-scenario-apply, prod-scenario-plan]
    with:
      working-dir: "terraform/proj1"
      terraform-version: "1.7.3"
      environment: production

  auto-merge:
    uses: ./.github/workflows/github-automerge.yaml
    needs: [prod-scenario-apply]
    with:
      branch: ${{ github.ref_name }}
